.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td, .tg th {
  border: 1px solid black !important;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  font-weight: normal;
}

.tg .tg-vml0 {
  font-family: Georgia, serif !important;
  text-align: left;
  vertical-align: top;
}

.tg .tg-larh {
  font-family: Georgia, serif !important;
  text-align: center;
  vertical-align: top;
}

.tg .tg-49iy {
  font-family: Georgia, serif !important;
  text-align: center;
  vertical-align: top;
}

.tg .tg-sqna {
  font-family: Georgia, serif !important;
  text-align: center;
  vertical-align: top;
  background-color: #f8f9fa;
  font-weight: bold;
}

.tg .tg-4wl0 {
  font-family: Georgia, serif !important;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}
